.box {
	
	display: inline-block;
	height: 60px;
	width: 60px;
	border: 1px solid black;
	vertical-align: top;
  background-color:orange
}
.player {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50px;
  vertical-align: top;
}
.one {
	background: black;
  
}
.two {
	background: darkblue;
}
.snake {
	background: red;
}
.ladder {
	background: green;
}
.little-text {
	color: white;
	font-size: 12.50px;
  
}